
/* GENERAL STYLES */

.spacer {
    flex: 1;
    height: 100%;
}

.footer-vh {
    height: 6vh;
    min-height: 3rem;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.expand-element-width {
    width: 100%;
}

.content-sizing {
    box-sizing: content-box;
    height: 100vh;
}


/* SPACING STYLES */


.one-third-spacer {
    height: 33%;
}


/* BACKGROUND STYLES */

.bg-grey-6{
    background-color: #141418;

}

/* Old background colors */

.bg-dark-maroon-black {
    background-color: #0E0A0A;
}

.bg-maroon {
    background-color: #950101;
}

.bg-red {
    background-color: #FF0000;
}


/* BUTTON STYLES */


.btn-red {
    color: #fff !important;
    background-color: #FF0000 !important;
    border-color: #950101 !important;
}

.btn-red:hover {
    color: #fff !important;
    background-color: #950101 !important;
    border-color: #3D0000 !important;
}

/* DEBUG GUI */

#debug-gui {
  position: absolute;
  top: 60px;
  right: 2rem;
}

#stats {
    position: absolute;
    top: 60px;
    left: 2rem;

}

/* VISUALIZER CANVAS */

#root {
    position: fixed;
    height: auto;
    width: auto;
    top: 0;
    bottom: 0;
}