:root {
    --navbar-height: 60px;
    --view-options-height: 12vh;
    --option-button-padding: 5px;
    --option-button-length: 67px;
}

#root-canvas {
    position: absolute;
    top: var(--navbar-height);
    bottom: var(--navbar-height);
    width: 100%;
    pointer-events: none;
}

#view-options {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

/* Button shape */
.rounded-square-button {
    aspect-ratio: 1;
    border-radius: 10px;
    border: none;
    display: flex;
    padding: var(--option-button-padding);
    pointer-events: all;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.menu-button-skin {
    background-color: #13191d;
    color: white;
    border: none;
}

.menu-button-skin:hover {
    background-color: #e95a07;
}

.menu-button-skin.active {
    background-color: #4521e4;
}

.menu-button-skin:active, .menu-button-skin:focus {
    outline: none;
}

/* OPTIONS MENU STYLES */

.option-button.fade-in {
    opacity: 1;
    transition: opacity 1s ease;
}

.option-button.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
}

.option-icon {
    color: white;
    width: 60%;
    height: 60%;
}

#options-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

#expand-menu-button {
    visibility: visible;
}

#light-intensity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--option-button-length);
    height: 40%;
    background-color: #13191d;
    border-radius: 10px;
    border: none;
    color: white;
    padding: var(--option-button-padding);
    pointer-events: all;
}

.options-expanded-menu.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease;
}

.options-expanded-menu {
    opacity: 1;
    transition: opacity 1s ease;
}

.vertical-slider-container.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease;
}

.vertical-slider-container {
    opacity: 0;
    transition: opacity 1s ease;
}

.hidden {
    visibility: hidden;
}

.vertical-slider {
    display: flex;
    flex-direction: column;
    width: calc(100vh * 0.2);
    height: 20px;
    margin: 10px;
    transform: rotate(270deg);
}

.option-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    bottom: 0;
    width: 90px;
}

/* MENU LAYOUT */

.column-button {
    width: var(--option-button-length);
    margin-top: 15px;
}

.row-button {
    height: var(--option-button-length);
    margin-right: 15px;
}
